/*! http://responsiveslides.com v1.54 by @viljamis */

.slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  }

.slider li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  }

.slider img {
  display: block;
  position: relative;
  z-index: 1;
  height: 100%;/*auto;*/
  width: 100%;
  border: 0;
  }

.slider .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.slider_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.slider_nav:active {
  opacity: 1.0;
  }

.slider_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

  /************ Slider do carrosel ******************/
  .sliderIntro {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  }

.sliderIntro li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  }

.sliderIntro img {
  display: block;
  position: relative;
  z-index: 1;
  max-height: 100%;/*auto;*/
  max-width: 100%;
  border: 0;
  margin: 0 auto;
  }

.sliderIntro .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.sliderIntro_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  cursor: pointer;
  }

.sliderIntro_nav:active {
  opacity: 1.0;
  }

.sliderIntro_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }