html{
	font:13px Arial, Helvetica, sans-serif;
	color:#747474;
	background:#f0f0ea;
}
body{
}
.title h1{
	width:auto;
	display:block;
	font:700 2.3em 'Open Sans', Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	padding:0 1em 0 0;
	margin:0 0 1em 0;
	color:#000;
	border-bottom:0.1em solid #23aaff;
}
.title h1 .content{
	display:inline-block;
	border-bottom:0.1em solid #23aaff;
	padding-right:0.5em;
}
.columns .edit{ /*---------------------------------------------------- coloca margem em todos os elementos)*/
	margin:0 0 10px 0;
}
#sec_conteudo .conteudo{
	background:#FFF;
	border-top:15px solid #FFF;
	border-bottom:5px solid #FFF;
}
a{
	border:0 !important;
}
div .columns .ativo {
	
}
.fundo_temp{
	background:#FFF !important;	/*------------------------------------ Importante para o highlight na hora de arrastar componentes*/
}
fieldset{
	border:none;
	padding:0 !important;
}
.conteudo .row{
	background:#FFFFFF;
}

/*####################### MENU DO TOPO #######################*/

#sec_menu{
}
.menu_site{
	height: 5.3em;
	padding:0;
	margin: 0 auto;
	position:relative;
	background:#23aaff;
	border-bottom:1.5em solid #1f98e4;
}
.menu_site ul{
	float:left;
	height:100%;
	position: relative;
	margin:0;
	padding:0;
	list-style:none;
}
.menu_site ul li{
	float:left;
	height:100%;
	padding-right:3px;
}
.menu_site ul li a{
	float:left;
	padding:1em 1.3em;
	text-decoration:none;
	font:bold 1.2em Arial, Verdana, sans-serif;
	color:#FFF;
	text-transform:uppercase;
}
.menu_site ul li a:hover, .menu_site ul li a.ativo{
	background:#1f98e4;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

/*-------- Formataçao do sub-menu---------*/

.menu li li {
	width:170px;
	padding: 0px !important;
	background:none !important;
}
.menu ul {
	display:block !important;
	float:left;
	width:210px !important;
	height:auto !important;
	padding:10px 20px 20px 20px !important;
	margin:23px 0 0 -50px !important;
	list-style:none;
	background:#1f98e4;
}
.menu li li a:link, .menu li li a:visited {
	float:left;
	width:170px;
	padding:7px 0 !important;
	margin:0 !important;
	height: auto !important;
	font:bold 12px Arial, Helvetica, sans-serif;
	
	text-indent:10px;
	background:none;
}
.menu li li a:hover {
	background:#23aaff;
}

/*####################### TOPO #######################*/

#sec_cabecalho{
	height:200px;
}
#sec_cabecalho .topdown.selected{ /*------------------------------------ Importante para o highlight na hora de arrastar componentes*/
	background:#FFF;
}
#topo{
	position: relative;
	width:100%;
	height:100%;
	margin:0 auto;
}
#topo h1 {
	border:0;
}
#topo h1 .content{
	border:0
}

/*####################### BANNER #######################*/

#sec_banner{
	position:relative;
}
#banner{
	width:100%;
	position:relative;
	margin:0 auto !important;
	border-bottom:0;
}
#banner .slider{
	border:1em solid #FFF;
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc); /* Safari/Chrome, e outros WebKit */
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);    /* Firefox, e outros Gecko */
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);         /* Opera/IE 8+ */
}
#banner .slider .caption {
	font:1em Arial, Helvetica, sans-serif;
	color:#97a4ad;
}
#banner .slider_nav.prev {
	top: 5em !important;
    left: inherit;
    right: 5em !important;
    width: 2em;
    height: 2em;
    background: #FFF url(images/seta_banner_anterior.png) 50% 50% no-repeat;
    opacity: 1;
}
#banner .slider_nav.next{
	top: 5em !important;
	right: 2em !important;
	width:2em;
	height:2em;
	background:#FFF url(images/seta_banner_proximo.png) 50% 50% no-repeat;
	opacity: 1;
}

/*####################### CARROSEL #######################*/

.rslidesCarrosel {
}
.rslidesCarrosel li a{
}
.rslidesCarrosel li a img{
}

/*####################### RODAPE #######################*/

#sec_rodape{
	position:relative;
	bottom:0;
	height:135px;
	margin-bottom:15px;
	clear:both;
}
#rodape{
	position:relative;
	padding:0 10px;
	height:135px;
	background:url(images/textura_rodape.png);
}

/*####################### BLOG E POSTS #######################*/

.post{
	float:left;
	width:100%;
	display:block;
	position:relative;
	margin:0 0 15px 0;
	padding:10px;
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc); /* Safari/Chrome, e outros WebKit */
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);    /* Firefox, e outros Gecko */
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);         /* Opera/IE 8+ */
	
	font:12px Arial, Helvetica, sans-serif;
	color:#747474;
}
.post .cx_imagem_destaque{
	float:left;
	width:22%;
	height:auto;	
	border: 0.8em solid #000;
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
}
.post .com_imagem{
	float:right;
	width:63%;
}
.post .imagem_destaque{
	width:100%;
	height:auto;
}
.post .post_summary:first-letter{
	font:bold 2em Arial, Helvetica, sans-serif;
	color: #23aaff;
	float: left;
	margin:-2px 2px 0 0;
	display: block;
	line-height:14px;
}
.post h2 + .cx_imagem_destaque + .data1 + .data2{
	display: block;
    position: absolute;
    top: 0;
    left: 3em;
    width: 16.5em;
    padding: 0.8em 0;
    border: 0.2em solid #1f98e4;
    background: #23aaff;
    font: bold 1em Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
}
.post .data2{
	display: block;
    position: relative;
    left: 0;
    width: auto;
    padding: 0 0 1em 0;
    border: 0;
    background: none;
    font: bold 1em Arial, Helvetica, sans-serif;
    color: #23aaff;
    text-align: left;
}
.post .data1{
	display:none
}
.post h2{
	margin:0 0 1em 0;
	padding:0;
	font:700 1.5em 'Open Sans', Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	color:#000;
	line-height:1.5em;
}
.post h2 a{
	color:#000;
	margin:0;
	padding:0;
	text-decoration:none;
}
.post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary{
	float:right;
	width:63%;
	position:relative;
	left:0;
}
.post .btn_leiamais{
	float:right;
	padding:0.8em 1em;
	margin:1em 0 0 0;
	font:bold 1em Arial, Verdana, sans-serif;
	color:#FFF;
	background:#23aaff;
	text-decoration:none;
	
	border:0.2em solid #1f98e4 !important;
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
}

/*-------- Dentro do post ---------*/

.post_texto .data1{
	display:none;
}
.post_texto .data2{
	width:100%;
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#23aaff;
}

/*-------- Coluna metade---------*/

.coluna_metade .cx_posts .post{
	margin:0;
}
.coluna_metade .cx_posts .post .data2 {
	display:none !important;
}
.coluna_metade .cx_posts .post .com_imagem {
	width:75%;
}
.coluna_metade .cx_posts .post .btn_leiamais {
	clear:both;
	font: bold 0.9em Arial, Verdana, sans-serif;
}
.coluna_metade .cx_posts .post h2 {
	font-size:1.3em
}
.coluna_metade .post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary {
	width: 75%;
}

/*-------- Coluna mÃ©dia---------*/

.coluna_media .cx_posts .post .cx_imagem_destaque{
	width:33%;
}

/*-------- Coluna Pequena---------*/

.coluna_pequena .cx_posts .post{
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border: 0;
	border-bottom:0.1em dashed #dddddd;
}
.coluna_pequena .cx_posts .post .cx_imagem_destaque{
	width:33%;
}
.coluna_pequena .cx_posts .post .data2{
	display:none !important;
}
.coluna_pequena .cx_posts .post .com_imagem{
	float:right;
	width:60%;
}
.coluna_pequena .cx_posts h2{
	font-size:1.2em;
	line-height:18px;


}
.coluna_pequena .post .post_summary, .coluna_pequena .post .data1, .coluna_pequena .post .btn_leiamais{
	display:none;
}

/*-------- Coluna mini---------*/

.coluna_mini .cx_posts .post{
	border-bottom:0.1em dashed #dddddd;
	margin:0;
}
.coluna_mini .cx_imagem_destaque{
	border:none;
	width:23%;
}
.coluna_mini .cx_posts .post .data2{
	display:none !important;
}
.coluna_mini .cx_posts h2{
	font:1em Arial, Helvetica, sans-serif;
}
.coluna_mini .cx_posts .post .com_imagem{
	float:right;
	width:70%;
}
.coluna_mini .cx_posts .post_summary, .coluna_mini .cx_posts .post .btn_leiamais{
	display:none;
}

/*-------- Coluna curta---------*/

.coluna_curta .cx_posts .post_summary, .coluna_curta .cx_posts .post .btn_leiamais, .coluna_curta .cx_posts .post .cx_imagem_destaque{
	display:none;
}
.coluna_curta .cx_posts .post{
	margin: 0;
	padding: 10px 0;
	background:url(images/linha.png) 0% 100% repeat-x;
}
.coluna_curta .cx_posts .post .data2{
	display:none !important;
}
.coluna_curta .cx_posts .post h2{
	width: 100%;
    font-size: 0.9em;
    font-weight: normal;
	letter-spacing: 0;
}

/*-------- Coluna grande ---------*/


.coluna_grande .cx_posts .post{
	margin-bottom:5px;
}
.coluna_grande .cx_posts .post .com_imagem{
	float:right;
	width:75%;
}
.coluna_grande .cx_posts .post .btn_leiamais{
	margin-top:15px;
}
.coluna_grande .cx_posts .post .cx_imagem_destaque{
	width:22%;
}
.coluna_grande .post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary{
	float:right;
	width:75%;
}
.coluna_grande h2{
	font-size:1.8em;
}

/*-------- Coluna grande (Widgets 2 colunas) ---------*/

.coluna_grande .columns_widget .cx_posts .data2{
	display:none;
}
.coluna_grande .columns_widget .cx_posts .btn_leiamais{
	clear:both;
}
.coluna_grande .columns_widget .cx_posts .cx_imagem_destaque{
	width:28%;
}
.coluna_grande .columns_widget .cx_posts h2{
	font-size:1.3em;
}
.coluna_grande .columns_widget .cx_posts .post .com_imagem {
	width:66%
}
.coluna_grande .columns_widget .post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary {
	width:66%
}



.coluna_media .columns_widget .cx_posts .cx_imagem_destaque{
	width:20%;
	border:2px solid #65c088;
}
.coluna_media .columns_widget .cx_posts .post{
	background: none;
	padding: 7px 0;
	margin: 0;
}
.coluna_media .columns_widget .cx_posts h2{
	
}
.coluna_media .columns_widget .cx_posts h2 a{
	font:bold 0.55em Arial, Helvetica, sans-serif;
}
.coluna_media .columns_widget .cx_posts .post .com_imagem {
	width:72% !important;
}
.coluna_media .columns_widget .cx_posts .post .post_summary, .coluna_media .columns_widget .cx_posts .btn_leiamais, .coluna_media .columns_widget .cx_posts .data2{
	display:none;
}

/*####################### CATEGORIAS (lista) #######################*/

.cx_categorias{
	float:left;
	position:relative;
	width:100%;
}
.cx_categorias h1{
	float:left;
	width:100%;
	font:700 3em 'Open Sans', Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	padding:0;
	margin:0 0 1em 0;
	color:#000;
	border-bottom:3px solid #23aaff
}
.cx_categorias ul{
	float:left;
	width:100%;
}
.cx_categorias ul li{
	float:left;
	width:100%;
	background:url(images/linha.png) 0% 100% repeat-x;
}
.cx_categorias ul li a{
	float:left;
	width:100%;
	padding:0.5em 0;
	font:bold 1em Arial, Helvetica, sans-serif;
	text-indent:0.8em;
	color:#000;
	text-decoration:none;
	background:url(images/bullet.png) 0% 50% no-repeat;
}
.cx_categorias ul li a:hover{
	color:#1f98e4
}

/*-------- Coluna 1---------*/

.coluna_pequena .cx_categorias ul li{
	width:100%;
}

/*-------- 2 colunas ---------*/

.columns_widget .cx_categorias ul li{
	width:100%;
}

/*####################### GALERIA DE IMAGENS #######################*/

.cx_imagem_galeria, .add_image_galeria{
	float:left;
	position:relative;
	width:9%;
	height:auto;
	margin:0.5%;
	
	border: 0.5em solid #1f98e4;
    -webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);	
}
.cx_imagem_galeria img{
	width:100%;
	height:100%;
}

/*-------- Coluna Grande ---------*/

.coluna_grande .cx_imagem_galeria:first-child, .coluna_grande .add_image_galeria:first-child{
	width:19%;
	height:auto;
}

/*-------- Coluna metade ---------*/

.coluna_metade .cx_imagem_galeria, .coluna_metade .add_image_galeria, .coluna_grande .columns_widget .cx_imagem_galeria, .coluna_grande .columns_widget .add_image_galeria{
	width:10%;
	height:auto;
}
.coluna_metade .cx_imagem_galeria:first-child, .coluna_metade .add_image_galeria:first-child, .coluna_grande .columns_widget .cx_imagem_galeria:first-child, .coluna_grande .columns_widget .add_image_galeria:first-child{
	width:21%;
	height:auto;
}

/*-------- Coluna pequena ---------*/

.coluna_pequena .cx_imagem_galeria, .coluna_pequena .add_image_galeria{
	width:19%;
	height:auto;
}

/*-------- Coluna mini ---------*/

.coluna_mini .cx_imagem_galeria, .coluna_mini .add_image_galeria, .coluna_media .columns_widget .cx_imagem_galeria, .coluna_media .columns_widget .add_image_galeria, .coluna_media .columns_widget .cx_imagem_galeria:first-child, .coluna_media .columns_widget .add_image_galeria:first-child{
	width:24%;
	height:auto;
}

/*-------- Coluna mÃ©dia ---------*/

.coluna_media .cx_imagem_galeria, .coluna_media .add_image_galeria{
	width:13.2%;
	height:auto;
}
.coluna_media .cx_imagem_galeria:first-child, .coluna_media .add_image_galeria:first-child{
	width:27.3%;
	height:auto;
}

/*####################### FOTO E TEXTO #######################*/

.foto_texto{
	
}
.foto_texto .cx_imagem{
	
}
.foto_texto .cx_imagem.foto{/*----------foto alinhada a esquerda*/
	margin:0 15px 10px 0;
}
.foto_texto .cx_imagem.foto_right{/*----------foto alinhada a direita*/
	margin:0 0 10px 15px;
}

/*####################### TABELA #######################*/

.table_layout, .table_layout2, .table_layout3, .table_layout4{
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	 border-collapse: collapse;
}
.table_layout *, .table_layout2 *, .table_layout3 *, .table_layout4 *{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.table_layout{
	background:#FFF;
}
.table_layout th{
	background:#23aaff !important;
	color:#FFF;
	padding:0.6em 0.3em;
	font:normal 1.2em 'Open Sans',Arial, Helvetica, sans-serif;
}
.table_layout .conteudo, .table_layout2 .conteudo, .table_layout3 .conteudo, .table_layout4 .conteudo{
	background:none !important;
	border:0 !important;
	margin:0 !important;
	padding:0 !important;
}
.table_layout td{
	border-bottom:0.2em solid #dfdfdf;
	border-right:0.2em solid #dfdfdf;
	text-align:center;
	padding:0.3em 0;
}
.table_layout .conteudo{
	padding-left:0.5em;
}
.table_layout tr td:first-child {
	border-left:0.2em solid #dfdfdf; 
}
.coluna_pequena .table_layout .conteudo{
	padding-left:0.5em;
}

/*-------- Tabela 2 ---------*/

.table_layout2{
	font:14px Arial, Helvetica, sans-serif;
}
.table_layout2 th{
	border:1px solid #dfdfdf;
	border-left:none;
	padding:5px;
	font:normal 16px 'Open Sans',Arial, Helvetica, sans-serif;
	background:#dfdfdf;
}
.table_layout2 th:first-child {
	border-left:1px solid #dfdfdf;
}
.table_layout2 td{
	border-bottom:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	text-align:center;
	padding:5px 0;
}
.table_layout2 .conteudo{
	padding-left:10px;
}
.table_layout2 tr td:first-child {
	border-left:1px solid #dfdfdf;
}
.coluna_pequena .table_layout2 .conteudo{
	padding-left:5px;
}*/

/*-------- Tabela 3 ---------*/

.table_layout3{
	font:14px Arial, Helvetica, sans-serif;
}
.table_layout3 th{
	border:1px solid #dfdfdf;
	border-left:none;
	padding:10px;
	font:normal 16px 'Open Sans',Arial, Helvetica, sans-serif;
	color:#000
}
.table_layout3 th:first-child {
	border-left:1px solid #dfdfdf;
}
.table_layout3 td{
	border-bottom:1px solid #dfdfdf;

	border-right:1px solid #dfdfdf;
	text-align:center;
	padding:5px 0;
}
.table_layout3 .conteudo{
	padding-left:10px;
}
.table_layout3 tr td:first-child {
	border-left:1px solid #dfdfdf;
}
.coluna_pequena .table_layout3 .conteudo{
	padding-left:5px;
}

/*-------- Tabela 4 ---------*/

.table_layout4{
	background:#FFF;
}
.table_layout4 th{
	background:#23aaff !important;
	color:#FFF;
	padding:0.5em 0.3em;
	font:normal 1.2em 'Open Sans',Arial, Helvetica, sans-serif;
	border-bottom:0.8em solid #1f98e4;
}
.table_layout4 td{
	border-bottom:0.1em solid #ececec;
	border-right:0.1em solid #ececec;
	text-align:center;
	padding:0.5em 0;
}
.table_layout4 .conteudo{
	padding-left:10px;
}
.table_layout4 tr td:first-child {
	border-left:0.1em solid #ececec;
}
.coluna_pequena4 .table_layout .conteudo{
	padding-left:5px;
}

/*####################### FORMULÃRIO #######################*/

.cxformulario{
	float:left;
	background: #FFF !important;
	padding:1.5em;
	
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc); /* Safari/Chrome, e outros WebKit */
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);    /* Firefox, e outros Gecko */
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);         /* Opera/IE 8+ */
}
.cxformulario label, .cxformulario fieldset legend{
	float:left;
	width:100%;
	margin-bottom: 1em;
	font: normal 1em 'Open Sans',Arial, Helvetica, sans-serif;
	color: #000;
}
.cxformulario h3{
	font: normal 1.4em 'Open Sans', Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 0 1em 0;
	padding: 0;
}
.cxformulario .campo_texto{
	width: 100%;
    background: #e8e7eb;
    height: 2.6em;
    border: 0.1em solid #dddddd
}
.cxformulario textarea{
	width:100%;
	height:120px !important;
	padding:0;
	background:#e8e7eb;
	border:1px solid #dddddd;
}
.cxformulario .cx_btn_enviar{
	text-align: right;
    padding: 1.3em 0 0 0;
    float: left;
    width: 100%;
}
.cxformulario .btn_enviar{
    padding: 0.5em 0.8em;
    font: bold 1em Arial, Verdana, sans-serif;
    color: #FFF !important;
    background: #23aaff;
    border: 0.2em solid #1f98e4 !important;
}
.cxformulario label select{
	width:100%;
	height:30px;
}
.cxformulario fieldset legend{
	margin-bottom:10px;
}
.cxformulario fieldset label{	
	float:left;
	width:auto;
	padding:0 15px 5px 0;
}
.captcha{
    float:left;
	width: 100%
}
.captcha fieldset{
	border:0;
	padding:0;
}
.captcha fieldset legend{
	display:none;
}
.captcha fieldset label{
	margin:0 0 15px 0;
}
.cxformulario .img_captcha{
	float:left;
	width:100%;
	height:3em;
}
.cxformulario .img_captcha img{
	float:right;
	width:auto;
	height:3em;
}
.captcha fieldset input{
    float: left;
    width: 30%;
    height: 3em;
    border: 0.3em solid #23aaff;
    background: #e8e7eb;
}
.captcha fieldset .fa-arrow-right{
	float: left;
    font-size: 2em;
    margin: 0.2em 0.2em 0 -0.1em;
	color:#23aaff;
}

/*-------- Coluna Grande ---------*/

.coluna_grande .cxformulario .fa-arrow-right{
	
}
.coluna_grande .cxformulario .img_captcha img{
	float:left;
	margin-left:30px;
}

/*-------- Coluna metade ---------*/

.coluna_metade .cxformulario .fa-arrow-right{
	
}
.coluna_metade .cxformulario .img_captcha img{
	float:left;
	margin-left:30px;
}

/*-------- Coluna pequena ---------*/

.coluna_pequena .cxformulario .fa-arrow-right{
	
}

/*-------- Coluna mini ---------*/

.coluna_mini .cxformulario .fa-arrow-right{
	
}
.coluna_mini .captcha fieldset input {
	height: 31px;
}
.coluna_mini .cxformulario .img_captcha img {
	height: 42px;
}
.coluna_mini .cxformulario h3 {
	font-size:1.2em;
}

/*-------- Coluna mÃ©dia ---------*/

.coluna_media .cxformulario .fa-arrow-right{
	
}
.coluna_media .cxformulario .img_captcha img{
	float:left;
}

/*-------- 2 colunas (widget)---------*/

.coluna_media .columns_widget .cxformulario .fa-arrow-right {
	
}

.coluna_grande .columns_widget .cxformulario .fa-arrow-right {
	
}

/*####################### MAPA #######################*/

.columns .mapa{
	width:auto;
	min-height:10em;
	border:0.7em solid #23aaff;
	
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
}

/*####################### FACEBOOK #######################*/

.facebook_like{

}


/*####################### TOP 10  #######################*/


.top10 br{ /*--------------------------------- Retirar no futuro ---*/
	display:none;
}
.top10 .content{
	border-bottom:0.1em solid #23aaff;
	margin-bottom:1em;
}
.top10 h3{
	display:table;
	font:700 2em 'Open Sans', Arial, Verdana, sans-serif;
	padding: 0 0 0.3em 1.5em;
	margin:0;
	color:#000;
	border-bottom:0.09em solid #23aaff;
	letter-spacing:-1px;
	background:url(images/ico_top10.png) no-repeat;
}
.top10 .linha{
	float:left;
	width:32%;
	margin:0;
	padding:0.5em;
	font:1.5em 'Open Sans', Arial, Verdana, sans-serif;
	color:#000;
	border-bottom:0.05em dashed #dddddd;
}
.top10 .linha .musica{
	float:left;
	width:82%;
	font:bold 1em 'Open Sans', Arial, Verdana, sans-serif;
	margin-top:-2px;
}
.top10 .linha small{
	float:left;
	width:82%;
	font:bold 13px 'Open Sans', Arial, Verdana, sans-serif;
	color:#717171;
}
.top10 .linha span{
	float:left;
	width:2em;
	padding:0.5em;
	margin-right:0.5em;
	font:bold 1em Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FFF;
	background:#23aaff;
}

/*-------- Coluna metade / Coluna mÃ©dia ---------*/

.coluna_metade .top10 .linha, .coluna_media .top10 .linha, .coluna_grande .columns_widget .top10 .linha{
	width:47%;
}
.coluna_metade .top10 .linha .musica, .coluna_media .top10 .linha .musica, .coluna_grande .columns_widget .top10 .linha .musica{
	width:76%;
}
.coluna_metade .top10 .linha small, .coluna_media .top10 .linha small, .coluna_grande .columns_widget .top10 .linha small{
	width:76%;
}

/*-------- Coluna pequena ---------*/

.coluna_pequena .top10 .linha{
	width:96%;
}
.coluna_pequena .top10 .linha .musica{
	width:81%;
}
.coluna_pequena .top10 .linha small{
	width:81%;
}
/*-------- Coluna mini ---------*/

.coluna_mini .top10 .linha span, .coluna_media .columns_widget .top10 .linha span{
	width:30px;
	padding:4px 0;
	font:bold 1em Arial, Helvetica, sans-serif;
}
.coluna_mini .top10 .linha, .coluna_media .columns_widget .top10 .linha{
	width: 96%;
}
.coluna_mini .top10 .linha .musica, .coluna_media .columns_widget .top10 .linha .musica{
	width:80%;
	font-size: 0.8em;
	margin-top:-5px;
}
.coluna_mini .top10 .linha small, .coluna_media .columns_widget .top10 .linha small{
	width:80%;
	font-size:0.6em;
}

/*####################### COMBO (Tmagem, TÃ­tulo e texto)  #######################*/

.foto_titulo_texto .cx_imagem{
	border: 0.8em solid #000;
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
}
.foto_titulo_texto .cx_imagem.foto{/*------------- Foto alinhada a equerda*/
	margin:0 15px 10px 0;
}
.foto_titulo_texto .cx_imagem.foto_right{/*------------- Foto alinhada a equerda*/
	margin:0 0 10px 15px;
}
.foto_titulo_texto .borda{
	
}
.foto_titulo_texto h1{
	margin:0;
	font:700 1em 'Open Sans', Arial, Verdana, sans-serif;
	color:#000;
	letter-spacing:-1px;
}
.foto_titulo_texto{
}

.coluna_media .foto_titulo_texto{
	
}
.coluna_pequena .foto_titulo_texto, .columns_widget .foto_titulo_texto{
	
}

/*####################### BOTÃƒO  #######################*/	

.button a{
	display:table !important;
	padding:0.5em 0.8em;
	font:bold 1em Arial, Verdana, sans-serif;
	color:#FFF !important;
	background:#23aaff;
	
	border:0.2em solid #1f98e4 !important;
	-webkit-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	-moz-box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
	box-sizing: border-box; *behavior: url(/scripts/boxsizing.htc);
}

/*####################### BOTÃ•ES PRÃ“XIMO E ANTERIOR (BLOG)  #######################*/

.navBlog{
	height:auto !important;
	padding: 10px 0;
}
.navBlog .next a{
	color:#23aaff;
	border:1px solid #bfbfbf !important;
	padding:7px 25px 7px 15px;
	background:#FFF url(images/seta_next.png) 90% 50% no-repeat;
	font-size:16px;
	text-decoration:none;
}
.navBlog .next a:hover{
	color:#FFF;
	background:#23aaff url(images/seta_next_on.png) 90% 50% no-repeat;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.navBlog .prev a{
	color:#23aaff;
	border:1px solid #bfbfbf !important;
	padding:7px 15px 7px 25px;
	background:#FFF  url(images/seta_prev.png) 10% 50% no-repeat;
	font-size:16px;
	text-decoration:none
}
.navBlog .prev a:hover{
	color:#FFF;
	background:#23aaff url(images/seta_prev_on.png) 10% 50% no-repeat;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.btn_voltar_do_post{
	float:left;
	clear:both;
	height:13px;
	padding:0 0 0 22px;
	margin:15px 0 25px 0;
	color:#23aaff;
	font:bold 15px Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(images/set_dupla_voltar.png) 0% 50% no-repeat;
}


/*####################### RESPONSIVO (media queries)  #######################*/


@media (max-width: 768px){
	
	.menu_site ul{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		list-style:none;
		background:none;
	}
	
	.menu_site ul li{
		width: 100%;
		padding: 0;
		margin: 0;
		height: auto;
		color: #FFF;
		border-bottom:none;
		text-align: right;
	}
	
	.menu_site ul li a{
		float:left;
		position: relative;
		width:100%;
		color: #FFF;
		padding: 0.7em 1em;
		font:bold 1em 'Roboto', sans-serif;
		text-transform: uppercase;
		text-decoration:none;
		text-align:left;
		border-bottom:1px solid #1f98e4 !important;
	}
	
	.menu_site ul li a i{
		float:left;
		width:1.7em;
		margin:0 0 0 0.5em;
		font-size:2em;
	}
	
	.menu_site ul li a .fa-chevron-right{
		float:right;
		margin: 0.7em 0.5em 0 0;
		font-size:1.2em;
	}
	
	.menu_site ul li a span{
		line-height: 2em;
	}
	
	/*####################### BANNER #######################*/

	#sec_banner{
		position:relative;
	}
	#banner{
		
	}
	#banner .slider{
		
	}
	#banner .slider .caption {
		
	}
	#banner .slider_nav.prev {
		top: 4.5em !important;
		left: inherit;
		right: 3.1em !important;
		width: 1.5em;
		height: 1.5em;
		background: #FFF url(images/seta_banner_anterior.png) 50% 50% no-repeat;
		opacity: 1;
		background-size:20%;
	}
	#banner .slider_nav.next{
		top: 4.5em !important;
    	right: 1.3em !important;
		width: 1.5em;
		height: 1.5em;
		background: #FFF url(images/seta_banner_proximo.png) 50% 50% no-repeat;
		opacity: 1;
		background-size:20%;
	}
	
	
	/*####################### CARROSEL #######################*/


	.rslidesCarrosel {
		max-width:100%;
	}
	
	.rslidesCarrosel li a{
		max-width:100%;
	}
	
	.rslidesCarrosel li a img{
		max-width:100%;
		height:auto;
	}
	
	/*####################### TOP 10 #######################*/
	
	.top10 .content{
		border-bottom:0.1em solid #23aaff;
		margin-bottom:1em;
	}
	.top10 h3{
		display:table;
		width:100%;
		font:700 2em 'Open Sans', Arial, Verdana, sans-serif;
		padding: 0 0 0.3em 1.5em;
		margin:0;
		color:#000;
		border-bottom:0.09em solid #23aaff;
		letter-spacing:-1px;
		background:url(images/ico_top10.png) no-repeat;
	}
	.top10 .linha{
		float:left;
		width:100%;
		margin:0;
		padding:0.5em;
		font:1em 'Open Sans', Arial, Verdana, sans-serif;
		color:#000;
		border-bottom:0.1em dashed #dddddd;
	}
	.top10 .linha .musica{
		float:left;

		width:82%;
		font:bold 1em 'Open Sans', Arial, Verdana, sans-serif;
		margin-top:-2px;
	}
	.top10 .linha small{
		float:left;
		width:82%;
		font:bold 13px 'Open Sans', Arial, Verdana, sans-serif;
		color:#717171;
	}
	.top10 .linha span{
		float:left;
		width:2em;
		padding:0.5em;
		margin-right:0.5em;
		font:bold 1em Arial, Helvetica, sans-serif;
		text-align:center;
		color:#FFF;
		background:#23aaff;
	}
	
	/*####################### FORMULÃRIO #######################*/
	
	.cxformulario{
		font-size:0.9em;
	}
	
	/*####################### BLOG E POSTS #######################*/

	.post h2{
		font-size: 1.3em;
    	line-height: 1.3;
	}
	.post .data1, .post .data2{
    	display:none !important;
	}
	.post .post_summary{
		width:100% !important;
		margin-top:1em;
	}
	.coluna_grande .cx_posts .post .com_imagem {
		float: right;
		width: 65%;
		font-size: 1.3em;
		line-height: 1.3;
		margin-bottom:0 !important;
	}
	.coluna_grande .cx_posts .post .cx_imagem_destaque {
		width: 32%;
	}
	.post .btn_leiamais {
		float: right;
		padding: 0.8em 1em;
		margin: 1em 0 0 0 !important;
		font: bold 0.8em Arial, Verdana, sans-serif;
		color: #FFF;
		background: #23aaff;
		text-decoration: none;
		border: 0.2em solid #1f98e4 !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	
	.cx_nova_categoria{
		width:100%;
	}
	.cx_categorias h1 {
		font: 700 2em 'Open Sans', Arial, Verdana, sans-serif;
	}
	
	/*####################### GALERIA DE IMAGENS #######################*/
	
	.cx_imagem_galeria:first-child, .cx_imagem_galeria, .add_image_galeria{
		width:24% !important;
		border-width:0.4em;
	}
	
	/*####################### MEDIA QUERIE #######################*/
	
	@media (max-width:768px){
		#rodape{
			padding:1em;
		}
		#rodape .cx_imagem {
			max-width: 100%;
			max-height:100%;
		}
	}