@charset "CP850";
/*Animação menu*/
.transition, .btn, .post .btn_leiamais, .cxformulario .btn_enviar, .button a, .menu_site ul li a, .cx_imagem_galeria, .add_image_galeria, .navBlog .next a, .navBlog .prev a, .btn_voltar_do_post {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.btn, .post .btn_leiamais, .cxformulario .btn_enviar, .button a {
  border: 1px solid #231f20;
  background: #e4ba4c;
  color: #742c5b !important; }

.btn-hover, .post .btn_leiamais:hover, .cxformulario .btn_enviar:hover, .button a:hover {
  border: 1px solid #e4ba4c;
  background: transparent;
  color: #e4ba4c !important; }

/*box-sizing*/
.box-sizing, #banner .slider, .post, .post .cx_imagem_destaque, .cx_imagem_galeria, .add_image_galeria, .cxformulario, .foto_titulo_texto .borda, .rslidesCarrosel {
  -webkit-box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
  /* Safari/Chrome, e outros WebKit */
  -moz-box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
  /* Firefox, e outros Gecko */
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
  /* Opera/IE 8+ */ }

/*Titulo padrão*/
.titulo-padrao, .title h1, .post h1, .cx_categorias h1, .top10 h3 {
  font: bold 45px "Tangerine", cursive;
  color: #e4ba4c;
  margin: 0 0 10px 0 !important;
  display: block;
  text-shadow: 0 1px 0 #fdfdfd, 0 2px 0 #231f20; }

.coluna_grande .title h1 {
  background: url(images/floral.png) center bottom no-repeat;
  padding-bottom: 12px; }

html {
  font: 14px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #231f20;
  background: url(images/bg-html.jpg) center top #fdfdfd; }

body {
  background: url(images/bg-cabecalho.jpg) left top repeat-x; }

.columns .edit {
  /*--------------------------------------------------- coloca margem em todos os elementos)*/
  margin: 0 0 10px 0; }

#sec_conteudo {
  background: url(images/linha-conteudo.jpg) center top no-repeat;
  padding-top: 2px; }

#sec_conteudo .conteudo {
  padding: 15px 0 5px;
  background: #FFF; }

.fundo_temp {
  background: #FFF;
  /*------------------------------------ Importante para o highlight na hora de arrastar componentes*/ }

fieldset {
  border: none;
  padding: 0 !important; }

/*####################### MENU DO TOPO #######################*/
#sec_menu {
  padding: 20px 0 0 0;
  height: 50px;
  background: url(images/bg-menu.png) center bottom no-repeat; }

.menu_site {
  width: 960px;
  height: 50px;
  padding: 0;
  margin: 0 auto;
  position: relative; }

.menu_site {
  /*-------- Formatação do sub-menu---------*/ }
  .menu_site ul {
    float: none !important;
    height: 50px;
    position: relative;
    margin: 0 auto !important;
    padding: 0;
    list-style: none;
    display: table; }
  .menu_site ul li {
    float: left;
    height: 100%;
    margin-left: 1px; }
  .menu_site ul li a {
    float: left;
    height: 20px;
    padding: 15px 30px;
    text-decoration: none;
    font: normal 16px font-txt;
    text-transform: uppercase;
    color: #e4ba4c;
    background: url(images/bullet-menu.png) center 50px no-repeat; }
  .menu_site ul li a:hover,
  .menu_site ul li a.ativo {
    color: #fdfdfd;
    background: url(images/bullet-menu.png) center bottom no-repeat; }
  .menu_site ul li:hover a.maislinks {
    padding-bottom: 15px;
    background: url(images/bullet-menu.png) center bottom no-repeat; }
  .menu_site .menu li li {
    width: 170px;
    padding: 0px !important;
    background: none !important;
    margin: 0; }
  .menu_site .menu ul {
    display: block !important;
    float: left;
    width: 150px !important;
    height: auto !important;
    padding: 10px 0 !important;
    margin: 20px 0 0 0 !important;
    list-style: none;
    background: #fdfdfd;
    border-bottom: 2px solid #e4ba4c;
    border-right: 1px solid #e4ba4c;
    border-left: 1px solid #e4ba4c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 1px 0 #231f20; }
  .menu_site .menu li li a:link, .menu_site .menu li li a:visited {
    float: left;
    width: 150px;
    padding: 5px 0 !important;
    margin: 0 !important;
    height: auto !important;
    font: normal 12px font-txt;
    text-shadow: none;
    text-indent: 10px;
    color: #231f20; }
  .menu_site .menu li li a:hover {
    color: #231f20;
    background: #e4ba4c; }

/*####################### TOPO #######################*/
#sec_cabecalho {
  height: 160px; }

#sec_cabecalho .topdown.selected {
  /*------------------------------------ Importante para o highlight na hora de arrastar componentes*/
  background: #FFF; }

#topo {
  position: relative;
  width: 960px;
  height: 160px;
  margin: 0 auto;
  background: url(images/bg-topo.png) center top no-repeat; }

#topo h1 {
  border: 0;
  color: #e4ba4c;
  text-shadow: 0px 3px 0 #fdfdfd, 0 2px 0 #231f20; }

/*####################### BANNER #######################*/
#sec_banner {
  position: relative; }

#banner {
  width: 960px;
  height: 322px;
  position: relative;
  margin: 0 auto 2px auto !important;
  border-bottom: 0; }

#banner .slider {
  border: 5px solid #e4ba4c; }
#banner .slider .caption {
  font: 14px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #231f20;
  background: #e4ba4c; }
#banner .slider_nav {
  top: 58% !important; }
#banner .slider_nav.prev {
  left: 5px;
  width: 45px;
  height: 42px;
  background: url(images/prev.png) 50% 50% no-repeat; }
#banner .slider_nav.next {
  right: 5px;
  width: 45px;
  height: 42px;
  background: url(images/next.png) 50% 50% no-repeat; }
#banner .slider_nav.next:hover,
#banner .slider_nav.prev:hover {
  opacity: 1; }

/*####################### RODAPE #######################*/
#sec_rodape .topdown.selected {
  /*------------------------------------ Importante para o highlight na hora de arrastar componentes*/
  background: url(images/bg-html.jpg) center top #fdfdfd; }

#sec_rodape {
  position: relative;
  height: 120px;
  margin-bottom: 15px; }

#rodape {
  position: relative;
  color: #fdfdfd;
  font-family: "Oxygen", Verdana, Helvetica, sans-serif;
  width: 940px;
  padding: 0 10px;
  height: 120px;
  border-top: 2px solid #e4ba4c; }

#rodape h1 {
  color: #231f20;
  font-family: "Oxygen", Verdana, Helvetica, sans-serif;
  border: none !important;
  background: none !important;
  text-shadow: none !important; }
#rodape h1 .content b {
  border-bottom: 2px solid #e4ba4c; }

/*####################### BLOG E POSTS #######################*/
.post {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 0 10px 0; }

.post .cx_imagem_destaque {
  float: left;
  width: 30%;
  height: auto;
  border: 2px dotted #e4ba4c;
  overflow: hidden; }
.post .com_imagem {
  float: right;
  width: 63%; }
.post .imagem_destaque {
  width: 100%;
  height: auto; }
.post h2 + .cx_imagem_destaque + .data1 + .data2 {
  display: block;
  position: absolute;
  top: 145px;
  left: 29px;
  width: 162px;
  padding: 7px 0;
  box-shadow: 0 0 1px #e4ba4c;
  -webkit-box-shadow: 0 0 1px #e4ba4c;
  background: #231f20;
  font: bold 12px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #e4ba4c;
  text-align: center; }
.post .data2 {
  display: block;
  position: relative;
  left: 0;
  width: auto;
  padding: 0 0 10px 0;
  border: 0;
  background: none;
  font: bold 12px "Oxygen", Verdana, Helvetica, sans-serif;
  text-align: left; }
.post .data1 {
  display: none; }
.post h2 {
  margin: 0 0 15px 0;
  padding: 0;
  font: normal 45px "Tangerine", cursive;
  color: #231f20;
  line-height: 20px; }
.post h2 a {
  font: normal 45px "Tangerine", cursive;
  color: #231f20;
  margin: 0;
  padding: 0;
  text-decoration: none;
  @extendi .transition; }
.post h2 a:hover {
  color: #e4ba4c; }
.post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary {
  float: right;
  width: 63%;
  position: relative;
  left: 0; }
.post .btn_leiamais {
  float: right;
  padding: 6px 12px;
  margin: 10px 0 0 0;
  text-decoration: none;
  clear: both; }

/*-------- Coluna metade---------*/
.coluna_metade .cx_posts .post {
  margin: 0; }
.coluna_metade .cx_posts .post .data2 {
  display: none !important; }
.coluna_metade .cx_posts .post .com_imagem {
  width: 68%; }
.coluna_metade .cx_posts .post .btn_leiamais {
  clear: both; }
.coluna_metade .cx_posts .post h2 {
  font-size: 1.7em;
  line-height: 1em; }
.coluna_metade .post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary {
  width: 68%; }

/*-------- Coluna média---------*/
.coluna_media .cx_posts .post .cx_imagem_destaque {
  width: 220px;
  height: 150px; }
.coluna_media .cx_posts .post .data1 {
  display: none !important; }

/*-------- Coluna Pequena---------*/
.coluna_pequena .cx_posts .post {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border: 0;
  background: url(images/linha.png) 0% 100% repeat-x; }
.coluna_pequena .cx_posts .post .cx_imagem_destaque {
  width: 33%;
  box-shadow: none;
  overflow: hidden; }
.coluna_pequena .cx_posts .post .data2 {
  display: none !important; }
.coluna_pequena .cx_posts .post .com_imagem {
  float: right;
  width: 60%; }
.coluna_pequena .cx_posts h2 {
  font-size: 1.2em;
  line-height: 18px; }
.coluna_pequena .post .post_summary, .coluna_pequena .post .data1, .coluna_pequena .post .btn_leiamais {
  display: none; }

/*fim coluna pequena*/
/*-------- Coluna mini---------*/
.coluna_mini .cx_posts .post {
  background: url(images/linha.png) 0% 100% repeat-x;
  margin: 0 0 10px 0;
  padding-bottom: 10px; }
.coluna_mini .cx_imagem_destaque {
  width: 23%;
  box-shadow: none;
  overflow: hidden; }
.coluna_mini .cx_posts .post .data2 {
  display: none !important; }
.coluna_mini .cx_posts h2 {
  line-height: 15px;
  margin: 0;
  font: 16px "Tangerine", cursive; }
.coluna_mini .cx_posts .post .com_imagem {
  float: right;
  width: 70%; }
.coluna_mini .cx_posts .post_summary,
.coluna_mini .cx_posts .post .btn_leiamais {
  display: none; }
.coluna_mini .first_post {
  float: left;
  width: 100% !important;
  height: 200px;
  box-sizing: border-box; }
.coluna_mini .first_post .cx_imagem_destaque {
  width: auto;
  height: 108px;
  overflow: hidden;
  position: absolute;
  top: 0; }
.coluna_mini .first_post h2 {
  width: auto !important;
  position: absolute;
  top: 114px;
  font: normal 16px "Tangerine", cursive;
  line-height: 21px; }

/*fim coluna mini */
/*-------- Coluna curta---------*/
.coluna_curta .cx_posts .post .data2,
.coluna_curta .cx_posts .post_summary,
.coluna_curta .cx_posts .post .btn_leiamais,
.coluna_curta .cx_posts .post .cx_imagem_destaque {
  display: none !important; }
.coluna_curta .cx_posts .post {
  margin: 0;
  padding: 10px 0;
  background: url(images/linha.png) 0% 100% repeat-x; }
.coluna_curta .cx_posts .post h2 {
  width: 100%;
  font-size: 0.8em;
  line-height: 12px;
  margin-bottom: 5px;
  font-family: "Oxygen", Verdana, Helvetica, sans-serif; }

/*fim coluna curta*/
/*-------- Coluna grande ---------*/
.coluna_grande .cx_posts .post {
  margin-bottom: 5px; }
.coluna_grande .cx_posts .post .com_imagem {
  float: right;
  width: 75%; }
.coluna_grande .cx_posts .post .btn_leiamais {
  margin-top: 15px; }
.coluna_grande .cx_posts .post .cx_imagem_destaque {
  width: 22%; }
.coluna_grande .post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary {
  float: right;
  width: 75%; }
.coluna_grande h2 {
  font-size: 1.8em; }

/*fim coluna grande*/
/*-------- Coluna grande (Widgets 2 colunas) ---------*/
.coluna_grande .columns_widget .cx_posts .data2 {
  display: none; }

.coluna_grande .columns_widget .cx_posts .btn_leiamais {
  clear: both; }

.coluna_grande .columns_widget .cx_posts .cx_imagem_destaque {
  width: 28%; }

.coluna_grande .columns_widget .cx_posts h2 {
  font-size: 1.3em; }

.coluna_grande .columns_widget .cx_posts .post .com_imagem {
  width: 66%; }

.coluna_grande .columns_widget .post h2 + .cx_imagem_destaque + .data1 + .data2 + .post_summary {
  width: 66%; }

.coluna_media .columns_widget .cx_posts .cx_imagem_destaque {
  width: 20%; }

.coluna_media .columns_widget .cx_posts .post {
  background: none;
  padding: 7px 0;
  margin: 0; }

.coluna_media .columns_widget .cx_posts h2 a {
  font: bold 0.55em "Oxygen", Verdana, Helvetica, sans-serif; }

.coluna_media .columns_widget .cx_posts .post .com_imagem {
  width: 72% !important; }

.coluna_media .columns_widget .cx_posts .post .post_summary, .coluna_media .columns_widget .cx_posts .btn_leiamais, .coluna_media .columns_widget .cx_posts .data2 {
  display: none; }

/*####################### CATEGORIAS (lista) #######################*/
.cx_categorias {
  float: left;
  position: relative;
  width: 100%; }

.cx_categorias ul {
  float: left;
  width: 100%; }

.cx_categorias ul li {
  float: left;
  width: 100%;
  margin-top: 5px;
  background: url(images/linha.png) 0% 100% repeat-x; }

.cx_categorias ul li a {
  float: left;
  width: 100%;
  padding: 4px 0;
  font: bold 14px "Oxygen", Verdana, Helvetica, sans-serif;
  text-indent: 11px;
  color: #231f20;
  text-decoration: none;
  background: url(images/bullet.png) 0% 50% no-repeat; }

.cx_categorias ul li a:hover {
  color: #e4ba4c; }

/*-------- Coluna 1---------*/
.coluna_pequena .cx_categorias ul li {
  width: 100%; }

/*-------- 2 colunas ---------*/
.columns_widget .cx_categorias ul li {
  width: 100%; }

/*####################### GALERIA DE IMAGENS #######################*/
.cx_imagem_galeria, .add_image_galeria {
  float: left;
  position: relative;
  width: 10.4%;
  height: auto;
  margin: 3px;
  -webkit-box-shadow: 0px 0px 1px #e4ba4c;
  box-shadow: 0px 0px 1px #e4ba4c;
  border: 4px solid #e4ba4c; }

.cx_imagem_galeria:hover,
.add_image_galeria:hover {
  border: 4px dotted #e4ba4c; }

.cx_imagem_galeria img {
  width: 100%;
  height: auto; }

/*-------- Coluna Grande ---------*/
.coluna_grande .cx_imagem_galeria:first-child, .coluna_grande .add_image_galeria:first-child {
  width: 21.45%; }

/*-------- Coluna metade ---------*/
.coluna_metade .cx_imagem_galeria, .coluna_metade .add_image_galeria, .coluna_grande .columns_widget .cx_imagem_galeria, .coluna_grande .columns_widget .add_image_galeria {
  width: 15.3%; }

.coluna_metade .cx_imagem_galeria:first-child, .coluna_metade .add_image_galeria:first-child, .coluna_grande .columns_widget .cx_imagem_galeria:first-child, .coluna_grande .columns_widget .add_image_galeria:first-child {
  width: 31.8%; }

/*-------- Coluna pequena ---------*/
.coluna_pequena .cx_imagem_galeria, .coluna_pequena .add_image_galeria {
  width: 18%; }

/*-------- Coluna mini ---------*/
.coluna_mini .cx_imagem_galeria, .coluna_mini .add_image_galeria, .coluna_media .columns_widget .cx_imagem_galeria, .coluna_media .columns_widget .add_image_galeria, .coluna_media .columns_widget .cx_imagem_galeria:first-child, .coluna_media .columns_widget .add_image_galeria:first-child {
  width: 30%; }

/*-------- Coluna média ---------*/
.coluna_media .cx_imagem_galeria, .coluna_media .add_image_galeria {
  width: 13.3%; }

.coluna_media .cx_imagem_galeria:first-child, .coluna_media .add_image_galeria:first-child {
  width: 27.4%; }

/*####################### FOTO E TEXTO #######################*/
.foto_texto .cx_imagem {
  float: left; }
.foto_texto .cx_imagem.foto {
  /*----------foto alinhada a esquerda*/
  margin: 0 15px 10px 0; }
.foto_texto .cx_imagem.foto_right {
  /*----------foto alinhada a direita*/
  margin: 0 0 10px 15px; }

/*####################### TABELA #######################*/
.table_layout, .table_layout2, .table_layout3, .table_layout4 {
  font: 14px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #e4ba4c; }

.table_layout {
  background: transparent; }

.table_layout th {
  background: #e4ba4c !important;
  color: #fdfdfd;
  padding: 15px 5px;
  font: 16px "Oxygen", Verdana, Helvetica, sans-serif; }

.table_layout .conteudo, .table_layout2 .conteudo, .table_layout3 .conteudo, .table_layout4 .conteudo {
  background: none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important; }

.table_layout td {
  border-bottom: 1px solid #e4ba4c;
  border-right: 1px solid #e4ba4c;
  text-align: center;
  padding: 5px 0; }

.table_layout .conteudo {
  padding-left: 10px; }

.table_layout tr td:first-child {
  border-left: 1px solid #e4ba4c; }

.coluna_pequena .table_layout .conteudo {
  padding-left: 5px; }

/*-------- Tabela 2 ---------*/
.table_layout2 {
  font: 14px "Oxygen", Verdana, Helvetica, sans-serif; }

.table_layout2 th {
  color: #e4ba4c;
  padding: 15px 5px;
  font: 16px "Oxygen", Verdana, Helvetica, sans-serif;
  background: #fdfdfd !important; }

.table_layout2 th:first-child {
  border-left: 1px solid #fdfdfd; }

.table_layout2 td {
  border-bottom: 1px solid #fdfdfd;
  border-right: 1px solid #fdfdfd;
  text-align: center;
  color: #fdfdfd;
  padding: 5px 0; }

.table_layout2 .conteudo {
  padding-left: 10px; }

.table_layout2 tr td:first-child {
  border-left: 1px solid #fdfdfd; }

.coluna_pequena .table_layout2 .conteudo {
  padding-left: 5px; }

/*-------- Tabela 3 ---------*/
.table_layout3 {
  font: 14px "Oxygen", Verdana, Helvetica, sans-serif; }

.table_layout3 th {
  color: #e4ba4c;
  padding: 15px 5px;
  font: 16px "Oxygen", Verdana, Helvetica, sans-serif;
  border: 1px solid #fdfdfd;
  border-left: none; }

.table_layout3 th:first-child {
  border-left: 1px solid #fdfdfd; }

.table_layout3 td {
  border-bottom: 1px solid #fdfdfd;
  border-right: 1px solid #fdfdfd;
  text-align: center;
  padding: 5px 0; }

.table_layout3 .conteudo {
  padding-left: 10px; }

.table_layout3 tr td:first-child {
  border-left: 1px solid #fdfdfd; }

.coluna_pequena .table_layout3 .conteudo {
  padding-left: 5px; }

/*-------- Tabela 4 ---------*/
.table_layout4 {
  font: 14px "Oxygen", Verdana, Helvetica, sans-serif; }

.table_layout4 th {
  color: #231f20;
  background: #e4ba4c;
  padding: 15px 5px;
  font: 16px "Oxygen", Verdana, Helvetica, sans-serif;
  border: none; }

.table_layout4 td {
  background: #fdfdfd;
  color: #231f20;
  border-bottom: 1px solid #e4ba4c;
  border-right: 1px solid #e4ba4c;
  text-align: center;
  padding: 5px 0; }

.table_layout4 .conteudo {
  padding-left: 10px; }

.table_layout4 tr td:first-child {
  border-left: 1px solid #e4ba4c; }

.coluna_pequena4 .table_layout .conteudo {
  padding-left: 5px; }

.coluna_mini .table .content {
  margin-top: 10px; }

/*####################### FORMULÁRIO #######################*/
.cxformulario {
  float: left;
  background: #FFF !important;
  padding: 20px 30px;
  border: 2px solid #e4ba4c; }

.cxformulario label, .cxformulario fieldset legend {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  font: normal 14px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #231f20; }

.cxformulario h3 {
  font: normal 1.4em "Oxygen", Verdana, Helvetica, sans-serif;
  color: #231f20;
  margin: 0 0 10px 0;
  padding: 0; }

.cxformulario .campo_texto {
  color: #231f20;
  width: 100%;
  height: 32px;
  border: 1px solid #231f20;
  text-indent: 10px; }

.cxformulario textarea {
  width: 100%;
  height: 120px !important;
  padding: 0;
  border: 1px solid #231f20; }

.cxformulario .cx_btn_enviar {
  text-align: right;
  padding: 20px 0 0 0; }

.cxformulario .btn_enviar {
  border: 1px solid #FFF;
  padding: 7px 15px;
  background-image: none !important; }

.cxformulario .btn_enviar:hover {
  background-image: none !important; }

.cxformulario label select {
  width: 100%;
  height: 30px; }

.cxformulario fieldset legend {
  margin-bottom: 10px; }

.cxformulario fieldset label {
  float: left;
  width: auto;
  padding: 0 15px 5px 0; }

.captcha {
  float: left;
  width: 100%; }

.captcha fieldset {
  border: 0;
  padding: 0; }

.captcha fieldset legend {
  display: none; }

.captcha fieldset label {
  margin: 0 0 15px 0; }

.cxformulario .img_captcha {
  float: left;
  width: 100%;
  height: 44px; }

.cxformulario .img_captcha img {
  float: right;
  width: auto;
  height: 44px; }

.captcha fieldset input {
  float: left;
  width: 30%;
  height: 32px;
  border: 5px solid #231f20; }

/*-------- Coluna Grande ---------*/
.coluna_grande .captcha {
  width: 790px !important; }
.coluna_grande .cxformulario .img_captcha {
  background: url(images/seta_captcha.png) 271px 50% no-repeat; }
.coluna_grande .cxformulario .img_captcha img {
  float: left; }
.coluna_grande .cxformulario .cx_btn_enviar {
  float: right;
  margin: 33px 0 0 0; }

/*-------- Coluna metade ---------*/
.coluna_metade .captcha {
  width: 320px !important; }
.coluna_metade .captcha fieldset input {
  width: 150px !important; }
.coluna_metade .cxformulario .img_captcha img {
  float: left; }
.coluna_metade .cxformulario .cx_btn_enviar {
  float: right;
  margin: 33px 0 0 0; }

/*-------- Coluna pequena ---------*/
.coluna_pequena .captcha {
  padding-bottom: 10px; }
.coluna_pequena .captcha fieldset input {
  width: 134px !important; }
.coluna_pequena .cxformulario .img_captcha img {
  float: left !important; }

/*-------- Coluna mini ---------*/
.coluna_mini .captcha {
  padding-bottom: 10px; }
.coluna_mini .cxformulario {
  padding: 20px !important;
  background: transparent !important;
  margin-top: 10px;
  width: 220px !important;
  margin-left: -10px; }
.coluna_mini .cxformulario .img_captcha {
  height: 43px; }
.coluna_mini .captcha fieldset input {
  width: 58px !important;
  height: 30px !important; }
.coluna_mini .captcha fieldset label {
  width: 100% !important; }
.coluna_mini .cxformulario .img_captcha img {
  height: 42px; }
.coluna_mini .cxformulario h3 {
  font-size: 1.2em; }
.coluna_mini .cxformulario .cx_btn_enviar .btn_enviar {
  width: 100% !important; }

/*-------- Coluna média ---------*/
.coluna_media .captcha {
  width: 480px !important; }
.coluna_media .cxformulario .img_captcha img {
  float: left; }
.coluna_media .cxformulario .cx_btn_enviar {
  float: right;
  margin: 33px 0 0 0; }

/*####################### MAPA #######################*/
.columns .mapa {
  width: auto;
  height: 350px;
  border: 2px solid #e4ba4c; }

/*-------- Coluna pequena---------*/
.coluna_pequena .columns .mapa {
  height: 200px; }

/*-------- 2 colunas (widget)---------*/
.columns_widget .mapa {
  height: 200px; }

/*-------- Coluna grande ---------*/
.coluna_grande .columns_widget .mapa {
  height: 230px; }

/*####################### FACEBOOK #######################*/
/*####################### TOP 10  #######################*/
.top10 br {
  /*--------------------------------- Retirar no futuro ---*/
  display: none; }

.top10 .linha {
  float: left;
  width: 32%;
  margin: 0;
  padding: 15px 0 10px 10px;
  font: 20px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #000;
  background: url(images/linha.png) 0% 100% repeat-x; }

.top10 .linha .musica {
  float: left;
  width: 82%;
  font-size: 1em; }

.top10 .linha small {
  float: left;
  width: 82%;
  font: 13px "Oxygen", Verdana, Helvetica, sans-serif;
  color: #e4ba4c; }

.top10 .linha span {
  float: left;
  width: 40px;
  padding: 9px 0;
  margin-right: 10px;
  font: bold 1.1em "Oxygen", Verdana, Helvetica, sans-serif;
  text-align: center;
  color: #fdfdfd;
  background: #e4ba4c; }

/*-------- Coluna metade / Coluna média ---------*/
.coluna_metade .top10 .linha, .coluna_media .top10 .linha, .coluna_grande .columns_widget .top10 .linha {
  width: 47%; }

.coluna_metade .top10 .linha .musica, .coluna_media .top10 .linha .musica, .coluna_grande .columns_widget .top10 .linha .musica {
  width: 76%; }

.coluna_metade .top10 .linha small, .coluna_media .top10 .linha small, .coluna_grande .columns_widget .top10 .linha small {
  width: 76%; }

/*-------- Coluna pequena ---------*/
.coluna_pequena .top10 .linha {
  width: 96%; }

.coluna_pequena .top10 .linha .musica {
  width: 81%; }

.coluna_pequena .top10 .linha small {
  width: 81%; }

/*-------- Coluna mini ---------*/
.coluna_mini .top10 h3 {
  background: transparent;
  font-size: 45px !important;
  line-height: 16px !important;
  padding: 20px 0 0 0 !important; }

.coluna_mini .top10 .linha span, .coluna_media .columns_widget .top10 .linha span {
  width: 20%;
  padding: 4px 0;
  font: bold 1em "Oxygen", Verdana, Helvetica, sans-serif; }

.coluna_mini .top10 .linha, .coluna_media .columns_widget .top10 .linha {
  width: 94%; }

.coluna_mini .top10 .linha .musica, .coluna_media .columns_widget .top10 .linha .musica {
  width: 74%;
  font-size: 0.8em;
  margin-top: -5px; }

.coluna_mini .top10 .linha small, .coluna_media .columns_widget .top10 .linha small {
  width: 74%;
  font-size: 0.6em; }

/*####################### COMBO (Tmagem, Título e texto)  #######################*/
.foto_titulo_texto .cx_imagem.foto {
  /*------------- Foto alinhada a equerda*/
  margin: 0 15px 10px 0; }
.foto_titulo_texto .cx_imagem.foto_right {
  /*------------- Foto alinhada a equerda*/
  margin: 0 0 10px 15px; }
.foto_titulo_texto .borda {
  border: 4px dotted #e4ba4c; }
.foto_titulo_texto h1 {
  margin: 0;
  font: bold 45px "Tangerine", cursive;
  color: #e4ba4c;
  text-shadow: 0 1px 0 #fdfdfd, 0 2px 0 #231f20; }

.coluna_media .foto_titulo_texto h1 {
  width: 60% !important;
  float: left;
  font-size: 30px; }
.coluna_media .foto_titulo_texto .text {
  width: 60% !important;
  float: left; }

.coluna_metade .foto_titulo_texto .cx_imagem {
  float: left;
  width: 220px !important; }
.coluna_metade .foto_titulo_texto .cx_imagem .borda {
  width: 220px;
  height: 160px; }
.coluna_metade .foto_titulo_texto .cx_imagem .borda img {
  width: auto !important;
  height: 220px !important;
  top: 0 !important;
  left: 0 !important; }
.coluna_metade .foto_titulo_texto h1 {
  float: right;
  width: 220px !important;
  font-size: 30px;
  text-align: center; }
.coluna_metade .foto_titulo_texto .text {
  width: 220px !important;
  float: right;
  text-align: center; }

.coluna_pequena .foto_titulo_texto h1 {
  font-size: 30px;
  text-align: center; }
.coluna_pequena .foto_titulo_texto .text {
  text-align: center; }
.coluna_pequena .foto_titulo_texto .cx_imagem .borda {
  width: 300px;
  height: 200px;
  border-radius: 110px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px; }
.coluna_pequena .foto_titulo_texto .cx_imagem .borda img {
  width: auto !important;
  height: 200px !important; }

.coluna_mini .foto_titulo_texto .cx_imagem,
.coluna_mini .foto_texto .cx_imagem,
.coluna_mini .foto_titulo_texto .text {
  width: 220px !important; }
.coluna_mini .foto_titulo_texto h1 {
  font-size: 30px;
  text-align: center; }
.coluna_mini .foto_titulo_texto .cx_imagem .borda,
.coluna_mini .foto_texto .cx_imagem .borda {
  width: 220px !important;
  height: 160px !important; }

/*####################### BOTÃO  #######################*/
.button a {
  display: table !important;
  padding: 6px 15px;
  font: normal 13px "Oxygen", Verdana, Helvetica, sans-serif;
  text-decoration: none; }

/*####################### BOTÕES PRÓXIMO E ANTERIOR (BLOG)  #######################*/
.navBlog {
  height: auto !important;
  padding: 10px 0; }

.navBlog .next a {
  color: #231f20;
  padding: 7px 25px 7px 15px;
  background: url(images/seta_next.png) 90% 50% no-repeat #e4ba4c;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #231f20; }

.navBlog .next a:hover {
  color: #e4ba4c;
  background: url(images/seta_next_on.png) 90% 50% no-repeat #fdfdfd;
  border: 1px solid #e4ba4c; }

.navBlog .prev a {
  color: #231f20;
  padding: 7px 15px 7px 25px;
  background: url(images/seta_prev.png) 10% 50% no-repeat #e4ba4c;
  font-size: 16px;
  text-decoration: none border1px solid #231f20; }

.navBlog .prev a:hover {
  color: #e4ba4c;
  background: url(images/seta_prev_on.png) 10% 50% no-repeat #fdfdfd;
  border: 1px solid #e4ba4c; }

.btn_voltar_do_post {
  float: left;
  clear: both;
  padding: 6px 15px 6px 30px;
  margin: 15px 0 25px 0;
  color: #231f20 !important;
  font: bold 12px "Oxygen", Verdana, Helvetica, sans-serif;
  text-decoration: none;
  background: url(images/set_dupla_voltar.png) 5px 50% no-repeat #e4ba4c;
  border: 1px solid #231f20; }

.btn_voltar_do_post:hover {
  color: #e4ba4c !important;
  background: url(images/set_dupla_voltar_on.png) 5px 50% no-repeat;
  background-color: transparent;
  border: 1px solid #e4ba4c; }

.rslidesCarrosel {
  border: 1px solid #e4ba4c; }

.menu_edicao_links {
  margin: -60px -98px 0 0; }
