<script>

document.write('<div class="max-chat"></div>');
$.ajax({
    type: "GET",
    url: "[url_chat]",
    contentType: "application/json",
    beforeSend: function(xhr, settings){
        xhr.setRequestHeader("x-access-token", "[token]");},
    success: function(data){
        var ifrm = document.createElement("iframe");
        ifrm.setAttribute("src", "data:text/html;charset=utf-8," + encodeURIComponent(data));
        ifrm.style.width = "100%";
        ifrm.style.height = "100%";
        ifrm.frameBorder = "0";
        var elementChat = document.querySelectorAll(".max-chat");
        elementChat[0].parentNode.replaceChild(ifrm,elementChat[0]);
    }
});
</script>