<!-- BANNER SITE -->
<div class="container-fluid" id="sec_banner">
    <div class="row conteudo">
        <div id="banner" class="callbacks_container">
            <ul class="rslides">
                <li><a target="" href="javascript:void(0)"><img src="images/fbce21a4f6712a85cef8cf337ad9cbbd.jpg" alt=""></a></li>
                <li><a target="" href="javascript:void(0)"><img src="images/4c7a7e3c05aaf23499971dbf80bdd31b.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- BANNER SITE -->