<!-- RODAPE -->
    <div class="container-fluid" id="sec_rodape">
        <div class="row rodape">
            <div class="topdown" id="rodape">
                <div class="edit cancel title ui-draggable" style="position: absolute; float: left; top: 50px; left: 8px;">
                    <h1 style="margin:0"><div class="content slogan edited" contenteditable="true"><div><font style="font-size:12px"><font>(31) 1234-5678 | 9876-5432 | 9999-9999<br></font>contato@marciaehelio.com.br</font></div><div><font><font><font><font style="font-size:12px">Av. Lorem Impsum, 250 - Sala 106 - &nbsp;Centro - Belo Horizonte - MG - CEP: 00000-000</font></font></font></font></div></div></h1></div>
                <div class="edit cancel title ui-draggable" style="position: absolute; float: left; top: 11px; left: 7px;">
                    <h1 style="margin:0"><div class="content slogan edited" contenteditable="false"><font><font style="font-size: 30px;">Contato</font></font></div></h1></div>
                <div class="edit cancel ui-draggable" tipo_img="default" style="float: left; position: absolute; top: 41px; left: 834px; z-index: 8;">
                    <div class="logo foto-no-edit content foto unselectable" unselectable="on">
                        <div>
                            <div class="resize enable" style="overflow: hidden; position: relative; height: 50px; width: 50px;">
                                <div class="img_drag" style="position: absolute; left: 0px; top: 0px;"><img src="images/994ab807d6474adfd258bce526b39fd4.jpg" imgid="0" id="imgzoom775150154717" max-width="50" max-height="50" height="50px" width="50px" style="width: 50px; height: 50px;"></div>
                            </div>
                            <div class="menu_zoom" style="position: absolute; display: none;">
                                <input name="width" value="50" type="hidden">
                                <input name="height" value="50" type="hidden">
                                <input name="link" value="" type="hidden">
                                <input name="zwidth" value="0" type="hidden">
                                <input name="zheight" value="0" type="hidden">
                                <input name="zoomatual" value="1" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit cancel ui-draggable" tipo_img="default" style="float: left; position: absolute; top: 41px; left: 890px; z-index: 8;">
                    <div class="logo foto-no-edit content foto unselectable" unselectable="on">
                        <div>
                            <div class="resize enable" style="overflow: hidden; position: relative; height: 50px; width: 50px;">
                                <div class="img_drag" style="position: absolute; left: 0px; top: 0px;"><img src="images/fdd8fd28315410ad0d8404d7e92a9c28.jpg" imgid="0" id="imgzoom810058645438" max-width="50" max-height="50" height="50px" width="50px" style="width: 50px; height: 50px;"></div>
                            </div>
                            <div class="menu_zoom" style="position: absolute; display: none;">
                                <input name="width" value="50" type="hidden">
                                <input name="height" value="50" type="hidden">
                                <input name="link" value="" type="hidden">
                                <input name="zwidth" value="0" type="hidden">
                                <input name="zheight" value="0" type="hidden">
                                <input name="zoomatual" value="1" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit cancel ui-draggable" tipo_img="default" style="float: left; position: absolute; top: 41px; left: 779px; z-index: 8;">
                    <div class="logo foto-no-edit content foto unselectable" unselectable="on">
                        <div>
                            <div class="resize enable" style="overflow: hidden; position: relative; height: 50px; width: 50px;">
                                <div class="img_drag" style="position: absolute; left: 0px; top: 0px;"><img src="images/4a8cbfd95e8cca0527352867355b7416.jpg" imgid="0" id="imgzoom822371075162" max-width="50" max-height="50" height="50px" width="50px" style="width: 50px; height: 50px;"></div>
                            </div>
                            <div class="menu_zoom" style="position: absolute; display: none;">
                                <input name="width" value="50" type="hidden">
                                <input name="height" value="50" type="hidden">
                                <input name="link" value="" type="hidden">
                                <input name="zwidth" value="0" type="hidden">
                                <input name="zheight" value="0" type="hidden">
                                <input name="zoomatual" value="1" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit cancel ui-draggable" tipo_img="default" style="float: left; position: absolute; top: 41px; left: 724px; z-index: 9;">
                    <div class="logo foto-no-edit content foto unselectable" unselectable="on">
                        <div>
                            <div class="resize enable" style="overflow: hidden; position: relative; height: 50px; width: 50px;">
                                <div class="img_drag" style="position: absolute; left: 0px; top: 0px;"><img src="images/3718e7ed7d82773e9ea3a2a4ace08af7.jpg" imgid="0" id="imgzoom271557190223" max-width="50" max-height="50" height="50px" width="50px" style="width: 50px; height: 50px;"></div>
                            </div>
                            <div class="menu_zoom" style="position: absolute; display: none;">
                                <input name="width" value="50" type="hidden">
                                <input name="height" value="50" type="hidden">
                                <input name="link" value="" type="hidden">
                                <input name="zwidth" value="0" type="hidden">
                                <input name="zheight" value="0" type="hidden">
                                <input name="zoomatual" value="1" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- RODAPE -->