<!-- CABECALHO -->
    <div class="container-fluid" id="sec_cabecalho">
        <div class="row">
            <div class="col-lg-12"><span class="menu_hamburguer"><i id="hamburguer" class="fa fa-th-list"></i>Menu</span>
                <div class="topdown" id="topo">
                    <div class="edit cancel ui-draggable" tipo_img="default" style="float: left; position: absolute; top: 0px; left: 348px; z-index: 9;">
                        <div class="logo foto-no-edit content foto unselectable" unselectable="on">
                            <div>
                                <div class="resize enable" style="overflow: hidden; position: relative; height: 160px; width: 345.487px;">
                                    <div class="img_drag" style="position:absolute;left: 0px; top: 0px;"><img src="images/56ba0504418f2b134ce49bab66683aec.png" imgid="0" id="imgzoom518368786409" max-width="345.4867256637168" max-height="160" width="345.4867256637168px" height="160px" style="width: 345.487px; height: 160px;"></div>
                                </div>
                                <div class="menu_zoom" style="display: none; position: absolute;">
                                    <input type="hidden" name="width" value="345.4867256637168">
                                    <input type="hidden" name="height" value="160">
                                    <input type="hidden" name="link" value="">
                                    <input type="hidden" name="zwidth" value="0">
                                    <input type="hidden" name="zheight" value="0">
                                    <input type="hidden" name="zoomatual" value="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit cancel title ui-draggable" style="position: absolute; float: left; top: 39px; left: 143px;">
                        <h1 style="margin:0"><div class="content slogan" contenteditable="false">Site da Natureza</div></h1></div>
                </div>
            </div>
        </div>
    </div>
    <!-- CABECALHO -->