<!-- MENU SITE -->
    <div class="container-fluid" id="sec_menu">
        <div class="row">
            <div class="menu_site">
                <ul class="menu">
                    <li class="m0" paginaid="index"><a href="#!/home">Inicio</a></li>
                    <li class="m1" paginaid="a-ong"><a href="#!/a-ong">A Ong</a></li>
                    <li class="m2" paginaid="midia"><a href="#!/midia">Midia</a></li>
                    <li class="m3" paginaid="news"><a href="#!/news/2150/35891">News</a></li>
                    <li class="m4" paginaid="contato"><a href="#!/contato">Contato</a></li>
                </ul>
                <!-- MENU DE EDI??O DO MENU-->
                <!-- MENU DE EDI??O DO MENU-->
            </div>
        </div>
    </div>
    <!-- MENU SITE -->