<!-- CONTEUDO -->
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-12  coluna_grande" ordem="0" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="0">
                    <div class="edit cancel html" widget="489349" tipo="16" bloco="576045" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content">
                            <script type="text/javascript" src="http://100widgets.com/js_data.php?id=72"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-4  coluna_pequena" ordem="1" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="1">
                    <div class="edit cancel title" widget="489347" tipo="1" bloco="576043" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <h1>
  <div class="content" ><div style="text-align: center;"><span style="color: rgb(90, 159, 107); font-family: &quot;Abril Fatface&quot;;">Somos ONG</span></div></div>
  </h1>
                    </div>
                    <div class="edit cancel" widget="489345" tipo="2" bloco="576041" coluna="1" ordem="2" coluna_ref="0" coluna_bloco="0">
                        <div class="content">
                            Embora a nota do MME afirme que o governo dará início a um 'amplo debate' com a sociedade sobre as alternativas para a proteção da região, as propostas do atual governo para a Amazônia não são nada animadoras. Os últimos meses foram marcados por uma grande ofensiva à conservação ambiental e aos direitos sociais, em forma de decretos, Medidas Provisórias (MPs) e Projetos de Lei (PLs) que diminuem a proteção da floresta e de seus povos.
                        </div>
                    </div>
                    <div class="edit cancel foto_imagem" widget="489346" tipo="5" bloco="576042" coluna="1" ordem="3" coluna_ref="0" coluna_bloco="0" tipo_img="local">
                        <div class="cx_imagem foto-no-edit content foto_center" style="width:250px;">
                            <div class="borda">
                                <div>
                                    <div class="resize enable" style="width:250px;height:250px;">
                                        <div class="img_drag" style="position:absolute;left:0px;top:0px;">
                                            <img src="images/229d81222d0c56e2265e3eac0ee77fa4.png" style="width:250px;height:250px;" max-width="250" max-height="250" id="imgzoom489346" height="undefined" width="undefined" class="foto1">
                                        </div>
                                    </div>
                                    <div class="menu_zoom" style="display: none; position: absolute;">
                                        <input type="hidden" name="width" value="250">
                                        <input type="hidden" name="height" value="250">
                                        <input type="hidden" name="link" value="[link]" target="[link_target]" tipo="[link_tipo]" valueref="[link_value_ref]">
                                        <input type="hidden" name="zwidth" value="0">
                                        <input type="hidden" name="zheight" value="0">
                                        <input type="hidden" name="zoomatual" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8  coluna_media" ordem="1" coluna="2" style="position: relative">
                <div class="margens columns" coluna="2" ordem="1">
                    <div class="edit cancel title" widget="489348" tipo="1" bloco="576044" coluna="2" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <h1>
<div class="content" ><div style="text-align: center;"><font color="#5a9f6b" style="" face="Abril Fatface">Projeto Indigena</font></div></div>
</h1>
                    </div>
                    <div class="edit cancel foto_texto" widget="489342" tipo="3" bloco="576038" coluna="2" ordem="2" coluna_ref="0" coluna_bloco="0" tipo_img="local">
                        <div class="cx_imagem foto-no-edit content foto" style="width:304px;">
                            <div class="borda">
                                <div>
                                    <div class="resize enable" style="width:304px;height:405px;">
                                        <div class="img_drag" style="position:absolute;left:0px;top:0px;:;">
                                            <img src="images/a9879d20da6cfe585f18f4f58728b246.jpg" style="width:304px;height:405px;" max-width="304" max-height="405" height="undefined" width="undefined" id="imgzoom489342" class="foto1">
                                        </div>
                                    </div>
                                    <div class="menu_zoom" style="display: none; position: absolute;">
                                        <input type="hidden" name="width" value="304">
                                        <input type="hidden" name="height" value="405">
                                        <input type="hidden" name="link" value="" target="[link_target]" tipo="[link_tipo]" valueref="[link_value_ref]">
                                        <input type="hidden" name="zwidth" value="0">
                                        <input type="hidden" name="zheight" value="0">
                                        <input type="hidden" name="zoomatual" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <p>O Programa Áreas Protegidas da Amazônia (Arpa) foi criado em 2002 por meio de um inovador arranjo entre governo federal, órgãos estaduais e instituições privadas e a sociedade civil. O Arpa tem o objetivo de promover a conservação e a proteção permanente de 60 milhões de hectares ou 15% da Amazônia brasileira – uma área maior que a Alemanha. É considerado o maior programa de conservação de florestas tropicais do mundo.
                                <br>
                            </p>
                            <p>&nbsp;</p>
                            <p>O Programa representa hoje a principal estratégia de conservação da biodiversidade para o bioma amazônico. Por meio da criação, da expansão e do fortalecimento de unidades de conservação (UCs), o Arpa assegura recursos financeiros para a gestão e manutenção das UCs e a promoção do desenvolvimento sustentável da Amazônia.</p>
                            <p>&nbsp;</p>
                            <p>Além disso, o Arpa garante a efetividade de parte significativa do Sistema Nacional de Unidades de Conservação (SNUC), figura como parte importante das políticas de prevenção e combate ao desmatamento ilegal e busca manter bases ecológicas para o desenvolvimento do país.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-8  coluna_media" ordem="2" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="2">
                    <div class="edit cancel carrossel" widget="489343" tipo="21" bloco="576039" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <input type="hidden" name="autoplay" value="1">
                        <input type="hidden" name="velocidade" value="3">
                        <input type="hidden" name="efeitos" value="">
                        <input type="hidden" name="controler" value="1">
                        <input type="hidden" name="random" value="0">
                        <input type="hidden" name="background" value="rgba(0, 0, 0, 0)">
                        <div class="content" style="height:222px;width:620px;background:rgba(0, 0, 0, 0);" sizeset=1>
                            <ul class="rslidesCarrosel">
                                <li><a target="" href="javascript:void(0)"><img src="http://teste.hstbr.net:8080/uploads_images/222/4ce34409d6286142ac91b73a589f598b.jpeg"></a></li>
                                <li><a target="_top" href="javascript:void(0)"><img src="http://teste.hstbr.net:8080/uploads_images/222/8ead6f1b125a8ac59c4e727885383245.jpg"></a></li>
                            </ul>
                        </div>
                        <script>
                        newSlidesExport($("div[widget=489343]").find(".content ul"));
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-4  coluna_pequena" ordem="2" coluna="2" style="position: relative">
                <div class="margens columns" coluna="2" ordem="2">
                    <div class="edit cancel local" widget="489344" tipo="6" bloco="576040" coluna="2" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="mapa content" style="width:100%;height:200px;">
                        </div>
                        <input type=hidden name=zoom value="5" />
                        <input type=hidden name=title value="Mata" />
                        <input type=hidden name=message value="Nosso QG" />
                        <input type=hidden name=latitude value="-3.4168427" />
                        <input type=hidden name=longitude value="-65.85606459999997" />
                        <input type=hidden name=center_latitude value="-4.336262999863177" />
                        <input type=hidden name=center_longitude value="-62.16394363493644" />
                        <script>
                        initialize($('div[widget=489344]').find('.mapa')[0])
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTEUDO -->