 <!-- CONTEUDO -->
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-6  coluna_metade" ordem="0" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="0">
                    <div class="form edit cancel" contenteditable="false" widget="489353" tipo="4" bloco="576049" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content">
                            <form class="cxformulario">
                                <input type="hidden" name="email" value="seu_email@email.com.br">
                                <input type="hidden" name="mensagem" value="Sua mensagem foi enviada com sucesso. Assim que possível estarei respondendo.Obrigado!">
                                <label field_type="title" ordem="0">
                                    <h3>Preencha o formulário corretamente</h3>
                                    <input name="form[Preencha o formulário corretamente][title]" type="hidden">
                                </label>
                                <label field_type="texto" ordem="1"><span>Nome:</span>
                                    <input name="form[Nome][text]" type="text" class="campo_texto">
                                </label>
                                <label field_type="email" ordem="2"><span>Email:</span>
                                    <input name="form[Email][text]" type="text" class="campo_texto">
                                </label>
                                <label field_type="texto" ordem="3"><span>Telefone:</span>
                                    <input name="form[Telefone][text]" type="text" class="campo_texto">
                                </label>
                                <label field_type="mensagem" ordem="4"><span>Mensagem:</span>
                                    <textarea name="form[Mensagem][textarea]" class="campo_texto"></textarea>
                                </label>
                                <div class="captcha">
                                    <fieldset>
                                        <legend>Verificação</legend>
                                        <label>Digite o texto da imagem na caixa abaixo.</label>
                                        <div class="img_captcha">
                                            <input type="text" name="cap" />
                                            <img src="captcha.php" alt="informe os caracteres da imagem" />
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="cx_btn_enviar">
                                    <button type="submit" class="btn_enviar">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  coluna_metade" ordem="0" coluna="2" style="position: relative">
                <div class="margens columns" coluna="2" ordem="0">
                    <div class="edit cancel facebook facebook_likebox" widget="489355" tipo="22" bloco="576051" coluna="2" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <input type="hidden" class="url" value="">
                        <div class="content like"></div>
                        <script>
                        CreateNewLikeBox("https://www.facebook.com/wwf", $("div[widget=489355]").find(".content"));
                        </script>
                    </div>
                    <div class="edit cancel facebook facebook_coment" widget=489356>
                        <div class="content coment"></div>
                        <script>
                        var url = (top.document.getElementById("framesite") != null) ? top.document.getElementById("framesite").contentWindow.location.href : top.document.URL;
                        url = url.replace("index.php", "");
                        CreateNewComents(url, $("div[widget=489356]").find(".content"));
                        </script>
                    </div>
                    <div class="edit cancel compartlinks" widget="489357" tipo="24" bloco="576053" coluna="2" ordem="3" coluna_ref="0" coluna_bloco="0">
                        <div class="content" facebook_active=1 plus_active=1 twitter_active=1></div>
                        <script>
                        var url = (top.document.getElementById("framesite") != null) ? top.document.getElementById("framesite").contentWindow.location.href : top.document.URL;
                        url = url.replace("index.php", "");
                        CreateNewCompartLinks(url, $("div[widget=489357]").find(".content"));
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-12  coluna_grande" ordem="1" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="1">
                    <div class="edit cancel social_links" widget="489354" tipo="23" bloco="576050" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content default" style="width:334px;float:none;margin:0 auto" aligntype="center" imgtype="default"><a target="_blank" rede="facebook" class="facebook" href="http://www.facebook.com/nome_aqui"></a><a target="_blank" rede="twitter" class="twitter" href="http://www.twitter.com/nome_aqui"></a><a target="_blank" rede="linkedin" class="linkedin" href="http://www.linkedin.com/in/nome_aqui"></a><a target="_blank" rede="youtube" class="youtube" href="http://www.youtube.com/nome_aqui"></a><a target="_blank" rede="instagram" class="instagram" href="http://www.instagram.com/nome_aqui"></a><a target="_blank" rede="blogger" class="blogger" href="http://nome_aqui"></a><a target="_blank" rede="flickr" class="flickr" href="http://www.flickr.com/nome_aqui"></a><a target="_blank" rede="vimeo" class="vimeo" href="http://www.vimeo.com/nome_aqui"></a><a target="_blank" rede="soundcloud" class="soundcloud" href="http://www.soundcloud.com/nome_aqui"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTEUDO -->