<!-- CONTEUDO -->
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-12  coluna_grande" ordem="0" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="0">
                    <div class="edit cancel live" widget="489372" tipo="26" bloco="576068" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content  com-chat">
                            <iframe width="100%" height="100%" src="//www.youtube.com/embed/6CiEwMVgwb4?autoplay=1" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="chat-aovivo">
                            <div class="max-chat-live"></div>
                        </div>
                        <div class="donate">
                            <h1>Ajude a natureza</h1>
                            <p>Doe o que puder para ajudar o meio ambiente</p>
                            <div class="donate-buttons"><img src="/images/static_pagseguro.png">
                                <form method="post" target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
                                    <input name="receiverEmail" type="hidden" value="baricio@gmail.com">
                                    <input name="currency" type="hidden" value="BRL">
                                    <input name="itemId1" type="hidden" value="1">
                                    <input name="itemDescription1" type="hidden" value="Doação de R$ 10,00">
                                    <input name="itemAmount1" type="hidden" value="10.00">
                                    <input name="itemQuantity1" type="hidden" value="1">
                                    <input alt="Doe com PagSeguro" name="submit" value="R$ 10,00" type="submit"> </form>
                                <form method="post" target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
                                    <input name="receiverEmail" type="hidden" value="baricio@gmail.com">
                                    <input name="currency" type="hidden" value="BRL">
                                    <input name="itemId1" type="hidden" value="2">
                                    <input name="itemDescription1" type="hidden" value="Doação de R$ 50,00">
                                    <input name="itemAmount1" type="hidden" value="50.00">
                                    <input name="itemQuantity1" type="hidden" value="1">
                                    <input alt="Doe com PagSeguro" name="submit" value="R$ 50,00" type="submit"> </form>
                                <form method="post" target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
                                    <input name="receiverEmail" type="hidden" value="baricio@gmail.com">
                                    <input name="currency" type="hidden" value="BRL">
                                    <input name="itemId1" type="hidden" value="3">
                                    <input name="itemDescription1" type="hidden" value="Doação de R$ 20,00">
                                    <input name="itemAmount1" type="hidden" value="20.00">
                                    <input name="itemQuantity1" type="hidden" value="1">
                                    <input alt="Doe com PagSeguro" name="submit" value="R$ 20,00" type="submit"> </form>
                                <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                                    <input type="hidden" name="currency" value="BRL" />
                                    <input type="hidden" name="receiverEmail" value="baricio@gmail.com" />
                                    <input type="hidden" name="iot" value="button" />
                                    <input alt="Doe com PagSeguro" name="submit" value="Outro Valor" type="submit"> </form>
                            </div>
                        </div>
                    </div>
                    <div class="edit cancel title" widget="489341" tipo="1" bloco="576037" coluna="1" ordem="2" coluna_ref="0" coluna_bloco="0">
                        <h1>
    <div class="content" ><div style="text-align: center;"><span style="color: rgb(228, 76, 76); background-color: initial;">Denuncie os maus tratos aos animais</span></div></div>
  </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid conteudo">
        <div class="row">
            <div class="col-md-3  coluna_mini" ordem="1" coluna="1" style="position: relative">
                <div class="margens columns" coluna="1" ordem="1">
                    <div class="edit cancel" widget="470627" tipo="2" bloco="556204" coluna="1" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content">
                            <p class="MsoNormal" align="center" style="margin-top:7.5pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:15.0pt;
mso-outline-level:3;background:white"><span style="font-family: Flexo; color: rgb(68, 68, 68);"><b><font size="4">A ACTIVE Soluções</font></b><span style="font-size: 15pt;"><o:p></o:p></span></span>
                            </p>
                            <h3 style="font-family: Roboto; font-weight: 300; line-height: 20px; margin-top: 10px; margin-bottom: 10px; font-size: 20px; color: rgb(68, 68, 68); text-align: center; background-color: rgb(255, 255, 255);"><span style="font-family: Flexo; font-size: 13pt;">Agência moderna de&nbsp;</span><b style="font-family: Flexo; font-size: 13pt;">estratégias
digitais</b><span style="font-family: Flexo; font-size: 13pt;">&nbsp;focada no desenvolvimento e na melhoria de performance de
marcas e empresas de todos os portes e segmentos</span>.<br></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  coluna_mini" ordem="1" coluna="2" style="position: relative">
                <div class="margens columns" coluna="2" ordem="1">
                    <div class="edit cancel" widget="470629" tipo="2" bloco="556206" coluna="2" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content">
                            <h3 align="center" style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;
margin-left:0cm;text-align:center;line-height:15.0pt;background:white"><span style="font-family: Flexo; color: rgb(68, 68, 68);"><font size="4">Reputação</font><span style="font-size: 15pt; font-weight: normal;"><o:p></o:p></span></span></h3>
                            <h3 style="font-family: Roboto; font-weight: 300; line-height: 20px; margin-top: 10px; margin-bottom: 10px; font-size: 20px; color: rgb(68, 68, 68); text-align: center; background-color: rgb(255, 255, 255);">

<p align="center" style="margin: 0cm 0cm 7.5pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size: 13pt; font-family: Flexo;">Estamos
a 10 anos&nbsp;<b>modernizando e acelerando&nbsp;</b>dezenas
de marcas na internet, garantindo ótimos resultados para todos os tipos e portes
de empresas.<o:p></o:p></span></p></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  coluna_mini" ordem="1" coluna="3" style="position: relative">
                <div class="margens columns" coluna="3" ordem="1">
                    <div class="edit cancel" widget="470631" tipo="2" bloco="556208" coluna="3" ordem="1" coluna_ref="0" coluna_bloco="0">
                        <div class="content">
                            <h3 align="center" style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;
margin-left:0cm;text-align:center;line-height:15.0pt;background:white"><span style="font-family: Flexo; color: rgb(68, 68, 68);"><font size="4">Soluções</font><span style="font-weight: normal; font-size: 15pt;"><o:p></o:p></span></span></h3>
                            <h3 style="font-family: Roboto; font-weight: 300; line-height: 20px; margin-top: 10px; margin-bottom: 10px; font-size: 20px; color: rgb(68, 68, 68); text-align: center; background-color: rgb(255, 255, 255);">

<p align="center" style="margin: 0cm 0cm 7.5pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size: 13pt; font-family: Flexo;">Através
de uma equipe multidisciplinar oferecemos uma gama variada de soluções
estratégicas de&nbsp;<b>marketing digital</b>&nbsp;para
seu negócio.<o:p></o:p></span></p></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  coluna_mini" ordem="1" coluna="4" style="position: relative">
                <div class="margens columns" coluna="4" ordem="1">
                    <div class="edit cancel foto_imagem" widget="489340" tipo="5" bloco="576036" coluna="4" ordem="1" coluna_ref="0" coluna_bloco="0" tipo_img="local">
                        <div class="cx_imagem foto-no-edit content foto_center" style="width:220px;">
                            <div class="borda">
                                <div>
                                    <div class="resize enable" style="width:220px;height:220px;">
                                        <div class="img_drag" style="position:absolute;left:0px;top:0px;">
                                            <img src="images/d5ecb42b4d699b01363ccf3e932b32a2.png" style="width:220px;height:220px;" max-width="215" max-height="215" id="imgzoom489340" height="undefined" width="undefined" class="foto1">
                                        </div>
                                    </div>
                                    <div class="menu_zoom" style="display: none; position: absolute;">
                                        <input type="hidden" name="width" value="263">
                                        <input type="hidden" name="height" value="263">
                                        <input type="hidden" name="link" value="[link]" target="[link_target]" tipo="[link_tipo]" valueref="[link_value_ref]">
                                        <input type="hidden" name="zwidth" value="0">
                                        <input type="hidden" name="zheight" value="0">
                                        <input type="hidden" name="zoomatual" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTEUDO -->