<div class="container-fluid conteudo">
    <div class="row">
        <div class="col-md-4 coluna_pequena" style="position: relative">
            <div class="margens columns ui-sortable">
                <div class="cx_categorias">
                    <div>
                        <div>
                            <h1>Categorias</h1></div>
                        <ul>
                            <li><a ng-href="{{getUrl()}}">Todas</a></li>
                            <li ng-repeat="categoria in categorias track by $index">
                                <a ng-href="{{getCategoryUrl(categoria.id)}}">{{categoria.category}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 coluna_media" style="position: relative">
            <div class="margens cx_posts columns ui-sortable" ng-if="!postId">
                <div class="post" ng-repeat="post in posts.data">
                    <h2 ng-class="post.imagem_destaque? 'com_imagem' : 'sem_imagem' ">
                            <a ng-href="{{getPostUrl(post.id)}}">{{post.title}}</a>
                        </h2>
                    <div class="cx_imagem_destaque" ng-if="post.imagem_destaque">
                        <img ng-src="{{post.imagem_destaque}}" class="imagem_destaque">
                    </div>
                    <div class="data1">{{post.date1}}</div>
                    <div class="data2">{{post.date2}}</div>
                    <div class="post_summary">{{post.summary}}</div>
                    <a ng-href="{{getPostUrl(post.id)}}" class="btn_leiamais">Leia mais</a>
                </div>
                <div class="navBlog">
                    <div class="prev">
                        <a ng-if="posts.current_page != 1" ng-href="{{getPaginatePrev(posts.current_page)}}">Anterior</a>
                    </div>
                    <div class="next">
                        <a ng-if="!isLastPage" ng-href="{{getPaginateNext(posts.current_page)}}">Próximo</a>
                    </div>
                </div>
            </div>
            <div ng-if="postId">
                <div class="edit title">
                    <h2 class="sem_imagem">{{post.title}}</h2>
                </div>
                <div class="post_texto">
                    <div class="data1">{{post.date_post | date:'dd MMM yyyy' | uppercase}}</div>
                    <div class="data2">
                        {{ (post.date_post | date: "dd 'de' ") + (post.date_post | date:"MMMM" | capitalize) + (post.date_post | date:"' de' yyyy") }}
                    </div>
                </div>
                <div class="edit cancel">
                    <div class="content" ng-bind-html="post.post"></div>
                </div>
            </div>
        </div>
    </div>
</div>